<h1>Event</h1>
  <% if @event.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
<ul>
  <li>Event name: <%= @event.name %></li>
  <li>Location : <%= @event.location %></li>
  <li>Date: <%= @event.date %>   </li>
  <li><%= link_to 'Attend this Event', invitations_path(event_id: @event.id),  data: {turbo_method: "post"} %></li>
</ul>
<br>



<h2>Invitations List</h2>
<ul>
  <% @event.invitations.each do |i| %>
  <li>Attendee email : <%= i.attendee.email %></li>
  <br>
  <% end %>
</ul>