<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <table>
      <tr>
        <td>
                    

        </td>
        <td>
            <% if current_user %> 
              <%= link_to 'My profile | ', user_path(current_user) %> 
            <% end %> 
        </td>
        <td>
          <%= link_to 'Create New Event | ', new_event_path %>
        </td>
        <td>
          <%= link_to 'Events | ', events_path %>
        </td>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
